apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: executionpolicies.agentura.io
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.0
spec:
  group: agentura.io
  names:
    kind: ExecutionPolicy
    listKind: ExecutionPolicyList
    plural: executionpolicies
    singular: executionpolicy
    shortNames:
      - ep
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              properties:
                runtimeClassName:
                  type: string
                maxConcurrentExecutions:
                  type: integer
                  default: 10
                defaultTimeout:
                  type: string
                  default: "5m"
                resourceDefaults:
                  type: object
                  properties:
                    limits:
                      type: object
                      additionalProperties:
                        anyOf:
                          - type: integer
                          - type: string
                        x-kubernetes-int-or-string: true
                    requests:
                      type: object
                      additionalProperties:
                        anyOf:
                          - type: integer
                          - type: string
                        x-kubernetes-int-or-string: true
                networkPolicy:
                  type: object
                  properties:
                    allowEgress:
                      type: array
                      items:
                        type: object
                        properties:
                          to:
                            type: array
                            items:
                              type: string
                          ports:
                            type: array
                            items:
                              type: integer
